package-db: C:\Users\jim\Dropbox\AzimuthSF\cabal-dev\packages-7.4.1.conf
local-repo: C:\Users\jim\Dropbox\AzimuthSF\cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: C:\Users\jim\AppData\Roaming\cabal\packages
world-file: C:\Users\jim\AppData\Roaming\cabal\world
build-summary: C:\Users\jim\Dropbox\AzimuthSF\cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: C:\Users\jim\Dropbox\AzimuthSF\cabal-dev/
install-dirs global
  prefix: C:\Users\jim\Dropbox\AzimuthSF\cabal-dev/